In [1]:
import pandas as pd
import numpy as np
import os
import re

22/10/02 18:23:31 WARN Utils: Your hostname, Polaris resolves to a loopback address: 127.0.1.1; using 172.26.153.20 instead (on interface eth0)
22/10/02 18:23:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/02 18:23:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.3.0
      /_/

Using Python version 3.8.10 (default, Jun 22 2022 20:18:18)
Spark context Web UI available at http://172.26.153.20:4040
Spark context available as 'sc' (master = local[*], app id = local-1664695413881).
SparkSession available as 'spark'.
22/10/02 18:23:35 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
curated_df = pd.read_parquet('../data/curated/final_merchant_statistics')

AnalysisException: Path does not exist: file:/mnt/c/Users/Xavier Travers/Desktop/Uni/ADS/generic-buy-now-pay-later-project-group-19/data/curated/curated

In [3]:
curated_df.sort_values('no_orders')

,merchant_abn,name,tags,tag,revenue_level,take_rate,sales_revenue,no_orders,avg_daily_rev,avg_value_per_order,avg_daily_order,avg_daily_commission,avg_commission_per_order,overall_commission,sa2_region_count,median_customer_income,returning_customer,mean_spending,std_spending,vip_customer
2738,55092047467,Lectus Justo Incorporated,"[(jewelry, Watch, clock, and silverware shops)...","jewelry, watch, clock, and silverware shops",c,1.95,1826.476581,1.0,3.018970,1826.476581,0.001653,0.058870,35.616293,35.616293,1.0,947.000000,0.0,1826.476581,NaN,0.0
715,83199298021,Ligula Elit Pretium Foundation,"[[antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",b,4.82,1971.663730,1.0,3.258948,1971.663730,0.001653,0.157081,95.034192,95.034192,2.0,499.666667,0.0,1971.663730,NaN,0.0
2625,10739268011,Libero Proin Mi Incorporated,"[[art dealers and galleries], [a], [take rate:...",art dealers and galleries,a,6.25,1294.039129,1.0,2.138908,1294.039129,0.001653,0.133682,80.877446,80.877446,1.0,656.000000,0.0,1294.039129,NaN,0.0
3205,49514806178,Hendrerit Id Ante Corp.,"([jewelry, watch, clock, and silverware shops]...","jewelry, watch, clock, and silverware shops",c,1.47,733.403901,1.0,1.212238,733.403901,0.001653,0.017820,10.781037,10.781037,1.0,802.000000,0.0,733.403901,NaN,0.0
3459,64648788229,Nisl Maecenas LLC,"((jewelry, watch, clock, and silverware shops)...","jewelry, watch, clock, and silverware shops",c,2.10,1612.676442,1.0,2.665581,1612.676442,0.001653,0.055977,33.866205,33.866205,2.0,845.500000,0.0,1612.676442,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762,93267734067,Curae Foundation,"((jeweLry, watch, clock, and silverware shops)...","jewelry, watch, clock, and silverware shops",c,2.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3791,14616123867,Fringilla Porttitor Vulputate PC,"([antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",a,5.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3878,42461534060,Elit LLP,"([antique shops - sales, rePairs, and restOrat...","antique shops - sales, repairs, and restoratio...",b,3.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3904,52524795452,Cras Convallis Associates,"((antique shops - sales, repaIrs, and restorat...","antique shops - sales, repairs, and restoratio...",a,5.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,93915598279,Molestie Pharetra Nibh LLP,"([antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",c,1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN