### MAST30034: Applied Data Science Project 2
---
# Naive Ranking: Unweighted Average Rank

Calculate the unweights average rank over all merchants (without segmentation).

In [1]:
# useful imports
import pandas as pd
import numpy as np
import os
import re

os.chdir("../scripts")
import utilities.rank_utilities as RANK

In [2]:
# read the curated data
merchant_df = pd.read_parquet('../data/curated/final_merchant_statistics')

In [3]:
merchant_df.head(5)

,merchant_abn,name,tags,tag,revenue_level,take_rate,sales_revenue,no_orders,avg_daily_rev,avg_value_per_order,avg_daily_order,avg_daily_commission,avg_commission_per_order,sa2_region_count,median_customer_income,returning_customer,mean_spending,std_spending,vip_customer
0,10023283211,Felis Limited,"((furniture, home furnishings and equipment sh...","furniture, home furnishings and equipment shop...",e,0.18,7.032777e+05,3261.0,1162.442498,215.663205,5.390083,2.092396,0.388194,1717.0,800.259547,11.0,231.951752,155.424439,137.0
1,10346855916,Odio Institute,"((equipment, tool, furniture, and appliance r...","equipment, tool, furniture, and appliance ren...",b,3.57,6.775178e+03,6.0,11.198642,1129.196413,0.009917,0.399792,40.312312,7.0,795.400000,0.0,1129.196413,717.988423,0.0
2,10385163239,Sed Et Company,"([florists supplies, nursery stock, and flower...","florists supplies, nursery stock, and flowers",a,6.61,2.519346e+04,74.0,41.642088,340.452204,0.122314,2.752542,22.503891,132.0,800.853287,0.0,345.115933,203.496326,3.0
3,10648956813,Proin Nisl Institute,"[(computeRs, computer peripheral equipment, an...","computers, computer peripheral equipment, and ...",a,6.66,1.419600e+06,21981.0,2346.446772,64.583063,36.332231,156.273355,4.301232,2208.0,835.366766,1574.0,98.720466,57.083817,710.0
4,10714068705,Sollicitudin Commodo Ipsum Industries,"([furniture, home furnishings and equipment sh...","furniture, home furnishings and equipment shop...",c,2.51,4.355100e+05,3438.0,719.851158,126.675378,5.682645,18.068264,3.179552,1715.0,802.506127,10.0,135.209547,113.737044,145.0

In [4]:
# define the columns to add ranks for
cols_to_rank = set(merchant_df).difference(
    ['merchant_abn', 'name', 'tags', 'tag', 'revenue_level']
)

# iterate through and rank these columns
for colname in cols_to_rank:
    merchant_df = RANK.add_column_rank(merchant_df, colname)

In [5]:
# calculate the uwar for the cols to rank
merchant_df = RANK.average_rank(merchant_df, cols_to_rank)

In [6]:
merchant_df.sort_values('average_rank')

,merchant_abn,name,tags,tag,revenue_level,take_rate,sales_revenue,no_orders,avg_daily_rev,avg_value_per_order,...,take_rate_rank,avg_daily_order_rank,returning_customer_rank,mean_spending_rank,median_customer_income_rank,vip_customer_rank,avg_commission_per_order_rank,std_spending_rank,avg_value_per_order_rank,average_rank
96,38700038932,Etiam Bibendum Industries,"[(tent and awning shops), (a), (take rate: 6.31)]",tent and awning shops,a,6.31,6.505525e+06,6009.0,10752.934605,1082.630294,...,723.0,450.0,433.5,260.0,625.0,500.0,144.0,42.0,415.0,330.321429
3010,63123845164,Odio Phasellus Institute,"[[artist supply and craft shops], [a], [take r...",artist supply and craft shops,a,6.59,8.146800e+06,11246.0,13465.785067,724.417568,...,413.0,259.0,260.0,652.0,1124.0,289.0,411.0,78.0,928.0,358.321429
57,27326652377,Tellus Aenean Corporation,"([music shops - musicAl instruments, Pianos, a...","music shops - musical instruments, pianos, and...",a,6.33,5.544861e+06,6028.0,9165.059556,919.850868,...,704.0,447.0,469.0,462.0,1455.0,536.0,247.0,97.0,626.0,437.107143
3260,71759376949,Pharetra Corp.,"((music shops - musical instruments, pianos, a...","music shops - musical instruments, pianos, and...",a,6.31,4.757903e+06,7402.0,7864.302988,642.786180,...,723.0,378.0,390.5,912.0,367.0,385.5,566.0,425.0,1056.0,440.000000
2548,75454398468,Tempus Non Lacinia Corporation,"((tent and awning shops), (b), (take rate: 4.90))",tent and awning shops,b,4.90,5.429279e+06,4997.0,8974.014997,1086.507719,...,1749.5,540.0,536.5,285.0,373.0,583.0,316.0,82.0,411.0,440.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,54277261175,In Magna PC,"[(antique shops - sales, repairs, and resTorat...","antique shops - sales, repairs, and restoratio...",c,1.46,NaN,NaN,NaN,NaN,...,3847.5,3978.0,3978.0,3978.0,3974.5,3978.0,3978.0,3954.5,3978.0,3966.750000
790,22503967537,Iaculis Quis LLC,"((antique shops - sales, rEpairs, and restora...","antique shops - sales, repairs, and restorati...",d,1.21,NaN,NaN,NaN,NaN,...,3901.5,3978.0,3978.0,3978.0,3974.5,3978.0,3978.0,3954.5,3978.0,3970.607143
1680,79931898050,Nascetur Ridiculus Company,"[(antique shops - sales, repairs, and restorat...","antique shops - sales, repairs, and restoratio...",d,1.12,NaN,NaN,NaN,NaN,...,3911.0,3978.0,3978.0,3978.0,3974.5,3978.0,3978.0,3954.5,3978.0,3971.285714
3454,62688594508,Lobortis Nisi Associates,"[(jewelry, watch, clock, and silverware shops...","jewelry, watch, clock, and silverware shops",d,0.88,NaN,NaN,NaN,NaN,...,3938.5,3978.0,3978.0,3978.0,3974.5,3978.0,3978.0,3954.5,3978.0,3973.250000
2604,95135981273,Nulla Ltd,"((antique shops - sales, repairs, aNd restorat...","antique shops - sales, repairs, and restoratio...",d,0.64,NaN,NaN,NaN,NaN,...,3962.0,3978.0,3978.0,3978.0,3974.5,3978.0,3978.0,3954.5,3978.0,3974.928571